absl-py==0.4.0
astor==0.7.1
backports-abc==0.5
coverage==4.5.1
decorator==4.3.0
gast==0.2.0
grpcio==1.14.1
ipython==5.0.0
ipython-genutils==0.2.0
jupyter-core==4.4.0
Markdown==2.6.11
nose2==0.8.0
numpy==1.14.5
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.2.0
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
tornado==5.1
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
